<%= form_with(model:  @article) do |form| %>
  <h1 style=" text-align: center;text-transform: uppercase; color: #4CAF50;"> Edit Article </h1>
  <style>
    .center {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      font-size: 18px; }
  </style>
  <div style="position: absolute;
      left: 0;
      top: 20%;
      width: 100%;
      margin-left: 120px;
      font-size: 18px;">

    <p>
      <%= form.label :title , style:'text-align:left' %><br>
      <%= form.text_field :title, placeholder:'Title', style:'width: 1000px; border: 2px solid #ccc; border-radius: 4px;  background-color: #f8f8f8;
      padding: 12px 20px'  %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :text, 'data-provider': :summernote ,placeholder:'Write Something' %>
    </p>
    <div>
      <%= form.file_field :image, require: true %>
    </div>
    <br>
    <p>
      <%= form.submit 'Save', class:'btn btn-success' %>
      <%= link_to 'Back', articles_path, class:'btn btn-info'%>
    </p>
<% end %>
</div>